---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

var title = `${SITE_TITLE} | ${SITE_DESCRIPTION}`;
---

<style lang="scss">
  @use "@opendatafit/common-styles/common-styles/variables/fonts";
  .layout-container {
    display: grid;

    grid-template-rows:
      [header] auto
      [header-gutter] 2rem
      [content] auto
      [footer] auto [end-row];

    grid-template-columns:
      [gutter-left] 1fr
      [content-col] 120ch
      [gutter-right] 1fr [end-col];

    // TODO reconsider row gutter implementation
    // or just research how to do this in non shit manner
    grid-template-areas:
      "left-gutter head right-gutter"
      "left-gutter header-gutter right-gutter"
      "left-gutter main right-gutter"
      "left-gutter foot right-gutter";

    .site-header-background {
      grid-area: header / gutter-left / header / end-col;
      // background-color: whitesmoke;
      border-bottom: 1px solid #ddd;
    }

    .site-header {
      grid-area: head;
    }

    main {
      grid-area: main;

      // TODO might do this with flex column, I dunno
      section:not(:first-child) {
        margin-top: 2rem;
      }

      section.marketing-tiles {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));

        img {
          margin: auto;
          display: block;
          width: 20%;
        }

        h2,
        p {
          text-align: center;
        }
      }
    }

    .site-footer-background {
      grid-area: footer / gutter-left / footer / end-col;
      background-color: whitesmoke;
      border-top: 1px solid #ddd;
    }

    .site-footer {
      grid-area: foot;

      .attribution {
        @include fonts.monospace;

        font-family: var(--monospace);
        font-family: "Inconsolata" !important;
      }
    }

    .title-branding {
      font-family: "Inter";
      font-variant: discretionary-ligatures;
      font-variation-settings:
        "opsz" 32,
        "wght" 370;
      font-size: 1.5em;
      color: #212d49;
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <link href="/assets/fonts/FontAwesome/css/all.css" rel="stylesheet" />
  </head>

  <body class="opendatafit">
    <div class="layout-container">
      <div class="site-header-background"></div>
      <div class="site-header">
        <Header title={SITE_TITLE} />
      </div>

      <main>
        <section>
          <p class="byline">
            <h1 class="title-branding">opendata.fit</h1>
            Declarative data analysis for reproducibility and publication.
          </p>
        </section>
        <section class="marketing-tiles">
          <div>
            <img src="assets/images/index/tile_upload.svg" />
            <h2>Upload</h2>
            <p>Upload experiment data</p>
          </div>
          <div>
            <img src="assets/images/index/tile_execute.svg" />
            <h2>Run</h2>
            <p>Run analysis online or locally</p>
          </div>
          <div>
            <img src="assets/images/index/tile_visualise.svg" />
            <h2>Visualise</h2>
            <p>Visualise results</p>
          </div>
          <div>
            <img src="assets/images/index/tile_library.svg" />
            <h2>Explore</h2>
            <p>Select from a library of user-contributed analysis algorithms</p>
          </div>
          <div>
            <img src="assets/images/index/tile_develop.svg" />
            <h2>Contribute</h2>
            <p>Write and contribute analysis algorithms</p>
          </div>
          <div>
            <p>
              [42] Jane Smith, opendata.fit: Example Analysis, Sept 2022.
              Available at <a href="https://app.opendata.fit/s/cfdf85"
                >https://app.opendata.fit/s/cfdf85</a
              >
            </p>
            <h2>Publish</h2>
            <p>Publish reproducible workflows by citing a single link</p>
          </div>
        </section>
      </main>

      <div class="site-footer-background"></div>
      <div class="site-footer">
        <Footer />
      </div>
    </div>
  </body>
</html>
