---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

var title = `${SITE_TITLE} | ${SITE_DESCRIPTION}`;
---

<style lang="scss">
  @use "@opendatafit/common-styles/common-styles/variables/fonts";
  @use "@opendatafit/common-styles/common-styles/mixins/boxmodel";

  // @use "../styles/mixins/breakpoints";

  @mixin mobile-bp {
    @media (max-width: 700px) {
      @content;
    }
  }

  @mixin responsive-desktop-bp {
    @media (min-width: 701px) and (max-width: 1300px) {
      @content;
    }
  }

  body {
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
  }

  .layout-container {
    overflow-x: hidden;
    max-width: 100%;
    width: 100%;

    display: grid;

    grid-template-rows:
      [header] auto
      [header-gutter] 2rem
      [content] auto
      [footer] auto [end-row];

    grid-template-columns:
      [gutter-left] 1fr
      [content-col] 120ch
      [gutter-right] 1fr [end-col];

    @include responsive-desktop-bp {
      grid-template-columns:
        [gutter-left] 4ch
        [content-col] 1fr
        [gutter-right] 5ch[end-col];
    }

    @include mobile-bp {
      grid-template-columns:
        [gutter-left] 2ch
        [content-col] 1fr
        [gutter-right] 3ch [end-col];
    }

    // TODO reconsider row gutter implementation
    // or just research how to do this in non shit manner
    grid-template-areas:
      "left-gutter head right-gutter"
      "left-gutter header-gutter right-gutter"
      "left-gutter main right-gutter"
      "left-gutter foot right-gutter";

    .site-header-background {
      grid-area: header / gutter-left / header / end-col;
      border-bottom: 1px solid #ddd;
    }

    .site-header {
      grid-area: head;
    }

    main {
      grid-area: main;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      padding-bottom: 10vh;

      section.introduction {
        min-height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        container-type: inline-size;

        .intro-box {
          max-width: 80ch;
        }

        .link-tiles {
          display: grid;
          margin-top: 2em;
          grid-template-columns: repeat(4, minmax(0, 1fr));

          @container (max-width: 1120px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          column-gap: 2ch;
          row-gap: 2.25em;

          h2 {
            font-weight: normal;
            font-size: 1.25em;
            font-variation-settings:
              "opsz" 14,
              "wght" 375;
          }

          p {
            margin-bottom: 0;
          }

          a {
            text-decoration: none;
            background-color: white;
            border: 1px solid #ddd;
            padding: 0.5em 2ch;
            border-radius: 0.4em;
            height: 100%;

            &:hover {
              color: firebrick;
              border: 1px solid firebrick;
            }
          }

          @container (max-width: 600px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));
            row-gap: 1em;
            h2 {
              font-size: 1.25em;
            }
            a {
              padding: 0 1ch;
            }
            p {
              margin-bottom: 1.25em;
            }
          }
        }
      }

      section.app-screenshot {
        display: grid;
        grid-template-columns: 35ch auto;
        column-gap: 8ch;

        .text-container {
          display: flex;
          align-items: center;
        }

        .screenshot-container {
          img {
            height: 70vh;
            //border: 1px solid #ddd;
            border-radius: 1em;
            box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.1);
          }
        }

        @include responsive-desktop-bp {
          display: block;
          .screenshot-container img {
            width: 100%;
            height: auto;
          }
        }
        @include mobile-bp {
          display: block;
          .screenshot-container img {
            width: 100%;
            height: auto;
            border-radius: 8px;
          }
        }
      }

      section.marketing-tiles {
        container-type: inline-size;
        display: flex;
        flex-direction: column;
        min-height: 85vh;
        justify-content: center;
        h2 {
          text-align: center;
        }
        .marketing-tiles-grid {
          display: grid;
          grid-row-gap: 3em;
          border: 1px dashed #ddd;
          border-radius: 0.4em;
          padding: 3em;
          height: auto;
          grid-template-columns: repeat(3, minmax(0, 1fr));

          @container (max-width: 1120px) {
            padding: 2em;
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }

          @container (max-width: 700px) {
            padding: 2em;
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }

          img {
            margin: auto;
            display: block;
            width: 20%;
          }

          h2,
          p {
            text-align: center;
            margin: 0;
          }

          h2 {
            margin-top: 0.5em;
            font-size: 1.15em;
          }
        }
      }
    }

    .site-footer-background {
      grid-area: footer / gutter-left / footer / end-col;
      background-color: #f6f6f6;
      border-top: 1px solid #ddd;
    }

    .site-footer {
      grid-area: foot;

      .attribution {
        @include fonts.monospace;

        font-family: var(--monospace);
        font-family: "Inconsolata" !important;
      }
    }

    .opendatafit-branding {
      display: flex;
      align-items: center;
      margin: 1em 0;

      img {
        margin-right: 1ch;
        height: 4em;
      }

      .title-branding {
        margin: 0;
        font-family: "Inter";
        font-variant: discretionary-ligatures;
        font-variation-settings:
          "opsz" 32,
          "wght" 490;
        font-size: 3em;
        color: #212d49;
      }
    }

    .title-byline {
      font-family: "Inter";
      font-variation-settings:
        "opsz" 14,
        "wght" 500;
      font-size: 1.5em;
      display: block;
    }

    @media (max-width: 445px) {
      .opendatafit-branding {
        font-size: 0.8em;
        margin: 0;
        margin-bottom: 1em;
      }

      .title-byline {
        font-size: 1.25em;
      }
    }
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={title} description={SITE_DESCRIPTION} />
    <link href="/assets/fonts/FontAwesome/css/all.css" rel="stylesheet" />
  </head>

  <body class="opendatafit">
    <div class="layout-container">
      <div class="site-header-background"></div>
      <div class="site-header">
        <Header title={SITE_TITLE} />
      </div>

      <main>
        <section class="introduction">
          <div class="opendatafit-branding">
            <img
              class="opendatafit-logo"
              src="/assets/images/logos/opendatafit.svg"
            />
            <h1 class="title-branding">opendata.fit</h1>
          </div>
          <span class="title-byline">
            Declarative data analysis for reproducibility and publication
          </span>

          <div class="intro-box">
            <p>
              opendata.fit is a data analysis platform that automatically
              captures data provenance and analysis history, making publishing
              reproducible workflows as simple as citing a link.
            </p>
          </div>

          <div class="link-tiles">
            <!--
            <a href="https://opendata.fit">
              <h2>About&nbsp;→</h2>
              <p>What is opendata.fit?</p>
            </a>
            -->
            <a href="https://community.opendata.fit">
              <h2>Community&nbsp;→</h2>
              <p>A support forum for opendata.fit users</p>
            </a>
            <a href="https://docs.opendata.fit">
              <h2>Documentation&nbsp;→</h2>
              <p>Learn how to use opendata.fit</p>
            </a>
            <a href="/team">
              <h2>Team&nbsp;→</h2>
              <p>Meet the opendata.fit team</p>
            </a>
            <!--
            <a href="https://opendata.fit">
              <h2>Blog&nbsp;→</h2>
              <p>Read the opendata.fit blog</p>
            </a>
            -->
          </div>
        </section>

        <section class="app-screenshot">
          <div class="text-container">
            <div>
              <h2>Flexibility built in</h2>
              <p>
                Manage datasets and run analysis workflows in the cloud using our
                web-based interface, or execute workflows locally with our CLI
                tools and upload the results.
              </p>

              <p>Code and run your own Python-based algorithms.</p>

              <p>
                Build a user-friendly web interface for your code with our UI
                components:
                <ul>
                  <li>Plotly and Vega graphing components</li>
                  <li>Handsontable tabular data display components</li>
                  <li>Parameter input/output display component</li>
                  <li>File upload component</li>
                </ul>
              </p>

              <p>Publish complete workflows as citable entities.</p>
            </div>
          </div>
          <div class="screenshot-container">
            <img src="assets/images/index/analysis_screenshot.png" />
          </div>
        </section>

        <section class="marketing-tiles">
          <h2>How it works</h2>
          <div class="marketing-tiles-grid">
            <div>
              <img src="assets/images/index/tile_upload.svg" />
              <h2>Upload</h2>
              <p>Upload experiment data</p>
            </div>
            <div>
              <img src="assets/images/index/tile_execute.svg" />
              <h2>Run</h2>
              <p>Run analysis online or locally</p>
            </div>
            <div>
              <img src="assets/images/index/tile_visualise.svg" />
              <h2>Visualise</h2>
              <p>Visualise results</p>
            </div>
            <div>
              <img src="assets/images/index/tile_library.svg" />
              <h2>Explore</h2>
              <p>
                Select from a library of user-contributed analysis algorithms
              </p>
            </div>
            <div>
              <img src="assets/images/index/tile_develop.svg" />
              <h2>Contribute</h2>
              <p>Write and contribute analysis algorithms</p>
            </div>
            <div>
              <p>
                [42] Jane Smith, opendata.fit: Example Analysis, Sept 2022.
                Available at <a href="https://app.opendata.fit/s/cfdf85"
                  >https://app.opendata.fit/s/cfdf85</a
                >
              </p>
              <h2>Publish</h2>
              <p>Publish reproducible workflows by citing a single link</p>
            </div>
          </div>
        </section>
      </main>

      <div class="site-footer-background"></div>
      <div class="site-footer">
        <Footer />
      </div>
    </div>
  </body>
</html>
